<nav>
    <div class="wrapper">
      <div class="logo"><a href="#"><img style="width:70px;border-radius: 10%;margin-top: 8px;" src="assets/logo.jpeg" alt=""></a></div>
      <ul class="nav-links">
        <li><a routerLink="landing">Home</a></li>
        <li><a routerLink="productModule/products">Products</a></li>
        <li><a href="#">Industries</a>
          <div class="service">
            <div class="content">
              <div class="row">
                <ul class="links">
                  <li><a href="#">Banking & Finance</a></li>
                  <li><a href="#">Travel & Hospitality</a></li>
                  <li><a href="#">Automotive</a></li>
                  <li><a href="#">Software & Hi-Tech </a></li>
                </ul>
              </div>
              <div class="row">
                <ul class="links">
                  <li><a href="#">Healthcare</a></li>
                  <li><a href="#">Education</a></li>
                  <li><a href="#">Retail</a></li>
                  <li><a href="industry">Career</a></li>
                </ul>
              </div>
            </div>
          </div>
        
        </li>
        <li>
          <a href="#">Services</a>
          <div class="service">
            <div class="content">
              <div class="row">
                <header>Front-End Services</header>
                <ul class="mega-links">
                  <li><a href="#">Service 1</a></li>
                  <li><a href="#">service 2</a></li>
                  <li><a href="#">service 3</a></li>
                  <li><a href="#">service 4</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Back-End Services</header>
                <ul class="mega-links">
                  <li><a href="#">Service 1</a></li>
                  <li><a href="#">service 2</a></li>
                  <li><a href="#">service 3</a></li>
                  <li><a href="#">service 4</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Database services</header>
                <ul class="mega-links">
                  <li><a href="#">Service 1</a></li>
                  <li><a href="#">service 2</a></li>
                  <li><a href="#">service 3</a></li>
                  <li><a href="#">service 4</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
       <li  *ngIf="http.Role=='USER'"><a routerLink="career/careerpage">Career</a></li>
       <li><a routerLink="about/aboutUs">About Us</a></li>
       <!-- <li><a routerLink="auth/login">Login</a></li> -->
      </ul>
    </div>
  </nav>