<footer>
    <div class="footer container">
      <div class="row">
        <div class="col-md-4">
          <div class="icons">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin-in"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook-square"></i>
          </div>
        </div>
        <div class="col-md-4 mid">
          <p>
            Sitemap
          </p>
          <p style="padding-left: 20px;">
            Terms
          </p>
          <p style="padding-left: 20px;">
            Privacy Notice
          </p>
          <p style="padding-left: 20px;">
            Cookie Notice
          </p>
          
        </div>
        <div class="col-md-4 mid">
        
          <p>&copy;2021 Bluescript Solutions,all rights reserved</p>
          
        </div>
      </div>
    </div>
  </footer>
