<div style="padding-bottom:28%;background: url(assets/img2.jpg);background-repeat:no-repeat;background-attachment: fixed;background-size:100% 100%" class="bodyContent">
    <div style="padding-top:200px" class="container">
        <!-- <form #user="ngForm" (ngSubmit)="authenticate(user.value)" class="sign-up-form"> -->
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="content1">
                    <p  align="center" class="fs-1 " style="color: #fff;z-index:10;margin-bottom:60px; color:black;">Bluescripts</p>
                </div> -->
                
            </div>
            <div class="col-md-6">
                    <div  align="center" style="margin-top: 100px;" class="container ">
                   
                        <div  style="width: 40%;margin:90px" class="position-absolute top-80 end-0 translate-middle content card">
                            <div align="center" style="color: white;" class="card-header rounded-bottom fs-3">
                                User Login
                            </div>
                            <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
                            <div style="margin-top: 8px;"class="card-body">
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <label for="username" class="form-label">Username or Email</label>
                                        <input type="text" style="font-size:14px;" ngModel name="userName" id="username" class="form-control" ngModel placeholder="Username or Email">
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <label for="password" class="form-label">Password</label>
                                            <input style="font-size:14px;" type="password" ngModel name="password" id="password" class="form-control" ngModel placeholder="Password">
                                        </div>
                                        <div align="left" class="col-md-12">
                                            <a style="text-decoration:none;color: white;" ><small class="forget">Forgot password?</small></a>
                                        </div>
                                        <div align="center" class="col-md-12 mt-3">
                                            <button style="width: 50%;border-radius: 20px;" type="submit"  class="btn bt1">Sign in</button>
                                        </div>
                                       <!-- <div style="margin-top:20px" align="center" class="col-md-12">
                                           <p style="color: white;" class="fs-5">-OR-</p>
                                       </div> -->
                                </div>
                                <div class="row">
                                    <!-- <div align="center" style="margin-top:10px" class="col-md-12">
                                        <a routerLink="/auth/register" style="text-decoration:none;color:blue"> Sign Up</a>
                                    </div> -->
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    
        
    <!-- </form> -->
    </div>
   </div>
  