<div class="banner">
    <div class="slider">
      <img src="assets/img2.jpg" alt="" id="slideimg1">
    </div>
    <div class="overlay">
      <div class="banner_content">

      <h1>
        Working toward a
      </h1>
      <br>
      <h1> sustainable future . . . . . </h1>
      
      <p>In blueScript , we understand that the welfare of the environment and society influences how we engineer business for the future</p>
      
      <button class="btn_banner">Learn More<i class="arrow fas fa-chevron-right"></i></button>
      
    </div>
  </div>
  </div>

  <div class="mid_content container">
    <p class="fs-3">Our Company helps companies modernize technology, reimagine processes and transform experiences so they stay ahead in a fast-changing world.</p>
      <hr>
    </div>

  <div class="technology_box container mb-5">
    <div class="header">
      <p><i style="padding-right: 10px;color: black;" class="fab fa-buffer"></i> Working Technologies</p>
    </div>
    <div class="tech">
      <div class="row">
        <div class="col-lg-6">
          <div class="box">
            <div class="imgBox" data-text="Front-End">
              <i class="fab fa-angular"></i>
            </div>
            <div class="content_tech">
              <div>
                <h3>Angular</h3>
                <p>Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js or another push-model.Build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
                <button class="btn btn-outline-primary">Read More</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="box">
            <div class="imgBox" data-text="Back-End">
              <i class="fab fa-java"></i>
            </div>
            <div class="content_tech">
              <div>
                <h3>Java</h3>
                <p>Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js or another push-model.Build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
                <button class="btn btn-outline-primary">Read More</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box">
            <div class="imgBox" data-text="Database">
              <i class="fas fa-database"></i>
            </div>
            <div class="content_tech">
              <div>
                <h3>My SQL</h3>
                <p>Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js or another push-model.Build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
                <button class="btn btn-outline-primary">Read More</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box">
            <div class="imgBox" data-text="Deployment">
              <i class="fab fa-aws"></i>
            </div>
            <div class="content_tech">
              <div>
                <h3>Deployment</h3>
                <p>Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js or another push-model.Build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
                <button class="btn btn-outline-primary">Read More</button>
              </div>
            </div>
          </div>
        </div>
        
      </div>
     
    
      

    </div>
<div align="center" class="row">
  <div class="col-md-12">
    <button class="btn_banner">View All<i class="arrow fas fa-chevron-right"></i></button>
  </div>
</div>
    <!-- <button class="btn btn-outline-primary">HI</button> -->

    <!-- <hr> -->

  </div>

  <div class="client">
    <div class="imgClient">
      <img class="img_Client" src="assets/client1.jpg" alt="">
    </div>
    <div class="overlay_client">
    <div class="client_header">
      <p><i style="padding-right: 10px;color: black;" class="fab fa-buffer"></i>Clients<i style="padding-left: 10px;color: black;" class="fab fa-buffer"></i></p>
    </div>

    <div class="client_box container">
      <div class="row">
        <div class="col-md-3">
          <div class="box1">
            <div class="face face1">
              <div class="contentBox">
                <!-- <i style="font-size:40px;text-align:center" class="fas fa-user-tie"></i> -->
                <p style="color: white;" class="fs-3">Client 1</p>
              </div>
            </div>
            <div class="face face2">
              <div class="contentBox">
                <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae deleniti quisquam</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="box1">
            <div class="face face1">
              <div class="contentBox">
                <!-- <i style="font-size:40px;text-align:center" class="fas fa-user-tie"></i> -->
                <p style="color: white;" class="fs-3">Client 2</p>
              </div>
            </div>
            <div class="face face2">
              <div class="contentBox">
                <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae deleniti quisquam</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="box1">
            <div class="face face1">
              <div class="contentBox">
                <!-- <i style="font-size:40px;text-align:center" class="fas fa-user-tie"></i> -->
                <p style="color: white;" class="fs-3">Client 3</p>
              </div>
            </div>
            <div class="face face2">
              <div class="contentBox">
                <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae deleniti quisquam</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="box1">
            <div class="face face1">
              <div class="contentBox">
                <!-- <i style="font-size:40px;text-align:center" class="fas fa-user-tie"></i> -->
                <p style="color: white;" class="fs-3">Client 4</p>
              </div>
            </div>
            <div class="face face2">
              <div class="contentBox">
                <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae deleniti quisquam</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>



  </div>
  <div class="experts container mt-5 mb-5">
    <!-- <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias hic, ut eum quam, neque pariatur, nesciunt impedit vel ad soluta illo voluptas ipsa repellat debitis recusandae labore earum deserunt.</h1> -->
    
      <div class="header">
        <p><i style="padding-right: 10px;color: black;" class="fab fa-buffer"></i> Meet Our Experts</p>
      </div>

      <div align="center" class="row">
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="assets/exp3.jpg" style="height:300px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">CEO</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-primary">Show More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="assets/exp2.jpg" style="height:300px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HR</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-primary">Show More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="assets/exp1.jpg" style="height:300px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Manager</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-primary">Show More</a>
            </div>
          </div>
        </div>
      </div>
 
  </div>