<div class="banner">
    <div class="slider">
      <img src="assets/img2.jpg" alt="" id="slideimg1">
    </div>
    <div class="overlay">
      <div class="banner_content">

      <h1>
        Working toward a
      </h1>
      <br>
      <h1> sustainable future . . . . . </h1>
      
      <p>Committed to provide you valuable services, backed by a team of skilled and experienced developers, we are able to extend our services using the cutting edge technologies. We follow a structured process of development and offer
       timely We combine technology and business intelligence to catalyze change  
       and deliver results. project delivery. We provide IT and digital services
      to simplify, strengthen and transform your business.</p>
      <button class="btn_banner">Learn More<i class="arrow fas fa-chevron-right"></i></button>
      
    </div>
  </div>
  </div>

  <div class="mid_content container">
    <p class="fs-2">Welcome To <span style="color: #0d8ec8;">B</span>luescripts <span style="color: #0d8ec8;">S</span>olutions</p>
      <hr>
    </div>

  <div class="technology_box container mb-5">
    <div class="header">
      <p><i style="padding-right: 10px;color: black;" class="fab fa-buffer"></i> Working Technologies</p>
    </div>
    <div class="tech">
      <div class="row">
        <div class="col-lg-6">
          <div class="box">
            <div class="imgBox" data-text="Front-End">
              <i class="fab fa-angular"></i>
            </div>
            <div class="content_tech">
              <div>
                <h3>Angular</h3>
                <p>Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js or another push-model.Build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
                <button class="btn btn-outline-primary">Read More</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="box">
            <div class="imgBox" data-text="Back-End">
              <i class="fab fa-java"></i>
            </div>
            <div class="content_tech">
              <div>
                <h3>Java</h3>
                <p>Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js or another push-model.Build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
                <button class="btn btn-outline-primary">Read More</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box">
            <div class="imgBox" data-text="Database">
              <i class="fas fa-database"></i>
            </div>
            <div class="content_tech">
              <div>
                <h3>My SQL</h3>
                <p>Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js or another push-model.Build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
                <button class="btn btn-outline-primary">Read More</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box">
            <div class="imgBox" data-text="Deployment">
              <i class="fab fa-aws"></i>
            </div>
            <div class="content_tech">
              <div>
                <h3>Deployment</h3>
                <p>Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js or another push-model.Build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
                <button class="btn btn-outline-primary">Read More</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="collapse" id="services">
            <div class="col-md-6">
              <div class="box">
                <div class="imgBox" data-text="Front-End">
                  <i class="fab fa-angular"></i>
                </div>
                <div class="content_tech">
                  <div>
                    <h3>Angular</h3>
                    <p>Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js or another push-model.Build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
                    <button class="btn btn-outline-primary">Read More</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
     
    
      

    </div>
<div align="center" class="row">
  <div class="col-md-12">
    <button class="btn_banner" data-bs-toggle="collapse" data-bs-target="#services">View All<i class="arrow fas fa-chevron-right"></i></button>
  </div>
</div>
    <!-- <button class="btn btn-outline-primary">HI</button> -->

    <!-- <hr> -->

  </div>

  <div class="client">
    <div class="imgClient">
      <img class="img_Client" src="assets/client1.jpg" alt="">
    </div>
    <div class="overlay_client">
    <div class="client_header">
      <p><i style="padding-right: 10px;color: black;" class="fab fa-buffer"></i>Clients<i style="padding-left: 10px;color: black;" class="fab fa-buffer"></i></p>
    </div>

    <div class="client_box container">
      <!-- <div class="row"> -->
        <!-- <div class="col-md-1">

        </div> -->
          <div class="main_box">
        <!-- <div class="col-md-2"> -->
          <div style="margin-left: -25px;" class="box1">
              <div class="face face1">
                <div class="contentBox">
                  <!-- <i style="font-size:40px;text-align:center" class="fas fa-user-tie"></i> -->
                  <!-- <p style="color: white;" class="fs-3">Client 1</p> -->
                <img src="assets/Encash.png" alt="">
                </div>
              </div>
              <div class="face face2">
                <div class="contentBox">
                  <button class="btn_banner1" data-bs-toggle="modal" data-bs-target="#exampleModal">View Details</button>
                  
                </div>
              </div>
            </div>
            <div style="width: 100%;" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">EnKash :</h5>
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                  </div>
                  <div class="modal-body">
                    <div class="main">
                    <div class="left">
                      <div class="heading">
                        <p style="color: #333;" class="fs-4">
                          Project Description
                        </p>
                        <hr>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                        </p>
                        <p style="color: #333;" class="fs-4">
                          Project Info
                        </p>
                        <hr>

                        <p>Client Sapphires</p>
                          <p>Date DEC 2019</p>
                          <p>In Web Application</p>
                          <p>Place India</p>
                      </div>
                    </div>
                    <div class="right">
                      <img src="assets/Encash.png" alt="">
                    </div>
                  </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn_banner1" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                  </div>
                </div>
              </div>
            </div>
          <!-- </div> -->
          
          <!-- <div class="col-md-2"> -->
            <div class="box1">
              <div class="face face1">
                <div class="contentBox">
                  <!-- <i style="font-size:40px;text-align:center" class="fas fa-user-tie"></i> -->
                  <!-- <p style="color: white;" class="fs-3">Client 2</p> -->
                <img src="assets/hbfirelogo.png" alt="">
              </div>
              </div>
              <div class="face face2">
                <div class="contentBox">
                  <button class="btn_banner1" data-bs-toggle="modal" data-bs-target="#HBfire">View Details</button>
                </div>
              </div>
            </div>

            <div style="width: 100%;" class="modal fade" id="HBfire" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">HB Fire Solutions :</h5>
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                  </div>
                  <div class="modal-body">
                    <div class="main">
                    <div class="left">
                      <div class="heading">
                        <p style="color: #333;" class="fs-4">
                          Project Description
                        </p>
                        <hr>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                        </p>
                        <p style="color: #333;" class="fs-4">
                          Project Info
                        </p>
                        <hr>

                        <p>Client HB Fire Solutions :</p>
                          <p>Date DEC 2019</p>
                          <p>In Web Application</p>
                          <p>Place India</p>
                      </div>
                    </div>
                    <div class="right">
                      <img src="assets/hbfirelogo.png" alt="">
                    </div>
                  </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn_banner1" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                  </div>
                </div>
              </div>
            </div>

          <!-- </div> -->
          
          <!-- <div class="col-md-2"> -->
            <div class="box1">
              <div class="face face1">
                <div class="contentBox">
                  <!-- <i style="font-size:40px;text-align:center" class="fas fa-user-tie"></i> -->
                <img src="assets/pecologo.png" alt="">
                <!-- <p style="color: white;" class="fs-3">Client 3</p> -->
                </div>
              </div>
              <div class="face face2">
                <div class="contentBox">
                                  <button class="btn_banner1" data-bs-toggle="modal" data-bs-target="#PECO">View Details</button>
                </div>
              </div>
            </div>
            <div style="width: 100%;" class="modal fade" id="PECO" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">PECO Projects Pvt Ltd :</h5>
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                  </div>
                  <div class="modal-body">
                    <div class="main">
                    <div class="left">
                      <div class="heading">
                        <p style="color: #333;" class="fs-4">
                          Project Description
                        </p>
                        <hr>
                        <p>1) Project & Inventry managment:-
                          manages entire project through out the life cycle which include followings.<br>
                          &ensp;      a)BOQ/BOM Managment: 
                          Upload/create existing BOQ/BOM and maintain differnt versions of BOQ/BOM.
                          Download any version on one click.<br>
                          &ensp; b)Inquiry:-
                          Generate & maintain inquiries sent to different vendors.Generate and Maintain enquiry by selecting items for BOQ/BOM.<br>
                          &ensp;  c)Purchase Order:-
                          Generate and maintain PO on order in desired format for any inquiry.
                          Generate a PO in Pdf/excel format.
                          Ability to populate vendors details on one click.
                          Maintain PO data related to each project.
                          Access/download generate PO any time when required.<br>
                          &ensp; 
                          d)Invoices :-
                          Generate & Automatically sent invoices to different vendors and maintains them.Access/download invoices.<br>
                          &ensp;  e)Inventory:- 
                          Efficient way to manage project inventory to minimize the losses.<br>
                          Tracking of the inventory throughout the project life cycle.<br>
                          Maintaining the list of unused inventory with quantity, location & other details.<br>
                          Exchanging inventory between project.<br>
                        Generating chalan & invoices for purchased inventory.</p>
                      
                        <p style="color: #333;" class="fs-4">
                          Project Info
                        </p>
                        <hr>

                        <p>Client PECO Projects Pvt Ltd</p>
                          <p>Date DEC 2019</p>
                          <p>In Web Application</p>
                          <p>Place India</p>
                      </div>
                    </div>
                    <div class="right">
                      <img src="assets/pecologo.png" alt="">
                    </div>
                  </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn_banner1" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                  </div>
                </div>
              </div>
            </div>
          <!-- </div> -->
          
          <!-- <div class="col-md-2"> -->
            <div class="box1">
              <div class="face face1">
                <div class="contentBox">
                  <!-- <i style="font-size:40px;text-align:center" class="fas fa-user-tie"></i> -->
                <img src="assets/saphhirelogo.png" alt="">
                <!-- <p style="color: white;" class="fs-3">Client 4</p> -->
                </div>
              </div>
              <div class="face face2">
                <div class="contentBox">
                 <button class="btn_banner1" data-bs-toggle="modal" data-bs-target="#saffire">View Details</button>
                </div>
              </div>
            </div>

            <div style="width: 100%;" class="modal fade" id="saffire" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sapphire Bookings :</h5>
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                  </div>
                  <div class="modal-body">
                    <div class="main">
                    <div class="left">
                      <div class="heading">
                        <p style="color: #333;" class="fs-4">
                          Project Description
                        </p>
                        <hr>
                        <p>Work order management 
                          manages entire project through out the life cycle which include followings <br>
                          A)Customer Registration & Authentication <br>
                          B)User login.<br>
                          C)Order processing.<br>
                          D)Admin access.<br>
                          A)Customer Registration & Authentication 
                          *In customer registration contains details such as 
                          *Customer Name *Address line *Postal Code *User Name *Mobile Number *E-mail address *GST No.<br>
                          B)User login 
                          A user Login page have been designed for login of existing user.
                          Ability to enter multiple user under existing customer.
                          The users have the access to edit his information.<br>
                          C)Order Processing.<br>
                          Order Booking.<br>
                          Order Confirmation.<br>
                          Order Printing.<br>
                          D)Admin access.
                          The admin have various abilities to monitor, manage, access to any stage of 
                          the process and edit as per requirement and also get the overview of the 
                        business.</p>
                        <p style="color: #333;" class="fs-4">
                          Project Info
                        </p>
                        <hr>

                        <p>Client Sapphires</p>
                          <p>Date DEC 2019</p>
                          <p>In Web Application</p>
                          <p>Place India</p>
                      </div>
                    </div>
                    <div class="right">
                      <img style="width: 100%;" src="assets/saphhirelogo.png" alt="">
                    </div>
                  </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn_banner1" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                  </div>
                </div>
              </div>
            </div>



          <!-- </div> -->
          <!-- <div class="col-md-2"> -->
            <div class="box1">
              <div class="face face1">
                <div class="contentBox">
                  <!-- <i style="font-size:40px;text-align:center" class="fas fa-user-tie"></i> -->
                <img src="assets/log1.png" alt="">
                <!-- <p style="color: white;" class="fs-3">Client 4</p> -->
                </div>
              </div>
              <div class="face face2">
                <div class="contentBox">
                 <button class="btn_banner1" data-bs-toggle="modal" data-bs-target="#morningstar">View Details</button>
                </div>
              </div>
            </div>


            <div class="modal fade" id="morningstar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">MorningStar Holidays :</h5>
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                  </div>
                  <div class="modal-body">
                    <div class="main">
                    <div class="left">
                      <div class="heading">
                        <p style="color: #333;" class="fs-4">
                          Project Description
                        </p>
                        <hr>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                        </p>
                        <p style="color: #333;" class="fs-4">
                          Project Info
                        </p>
                        <hr>

                        <p>Client MorningStar Holidays</p>
                          <p>Date March 2021 </p>
                          <p>In Web Application</p>
                          <p>Place India</p>
                      </div>
                    </div>
                    <div class="right">
                      <img style="width: 80%;"src="assets/log1.png" alt="">
                    </div>
                  </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn_banner1" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                  </div>
                </div>
              </div>
            </div>



          <!-- </div> -->
          <!-- <div class="col-md-2"> -->
            <div class="box1">
              <div class="face face1">
                <div class="contentBox">
                  <!-- <i style="font-size:40px;text-align:center" class="fas fa-user-tie"></i> -->
                  <img src="assets/hamdule.png" alt="">
                <!-- <p style="color: white;" class="fs-3">Client 4</p> -->
                </div>
              </div>
              <div class="face face2">
                <div class="contentBox">
                  <button class="btn_banner1" data-bs-toggle="modal" data-bs-target="#Hamdule">View Details</button>
                </div>
              </div>
            </div>


            <div style="width: 100%;" class="modal fade" id="Hamdule" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Hamdule Industries :</h5>
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                  </div>
                  <div class="modal-body">
                    <div class="main">
                    <div class="left">
                      <div class="heading">
                        <p style="color: #333;" class="fs-4">
                          Project Description
                        </p>
                        <hr>
                        <p>
                          1) Project & Inventry managment:- manages entire project through out the life cycle which include followings.</p>
                            <p>a)BOQ/BOM Managment: Upload/create existing BOQ/BOM and maintain differnt versions of BOQ/BOM. Download any version on one click.</p>
                            <p>b)Inquiry:- Generate & maintain inquiries sent to different vendors.Generate and Maintain enquiry by selecting items for BOQ/BOM.</p>
                            <p>c)Purchase Order:- Generate and maintain PO on order in desired format for any inquiry. Generate a PO in Pdf/excel format. Ability to populate vendors details on one click. Maintain PO data related to each project. Access/download generate PO any time when required.</p>
                            <p>d)Invoices :- Generate & Automatically sent invoices to different vendors and maintains them.Access/download invoices.</p>
                            <p>e)Inventory:- Efficient way to manage project inventory to minimize the losses.</p>
                          <p>Tracking of the inventory throughout the project life cycle.
                          Maintaining the list of unused inventory with quantity, location & other details.
                          Exchanging inventory between project.
                          Generating chalan & invoices for purchased inventory.
                          
                           </p>
                        <p style="color: #333;" class="fs-4">
                          Project Info
                        </p>
                        <hr>

                        <p>Client Hamdule Industries</p>
                          <p>Date DEC 2019</p>
                          <p>In Web Application</p>
                          <p>Place India</p>
                      </div>
                    </div>
                    <div class="right">
                      <img src="assets/hamdule.png" alt="">
                      <br>
                      <img class="img-responsive mt-3" style="width: 80%;" src="assets/hamdule_inside.PNG" alt="">
                      <img style="width: 80%;" class="img-responsive mt-3" src="assets/hamdule_wall.PNG" alt="">
                    </div>
                  </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn_banner1" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                  </div>
                </div>
              </div>
            </div>



          <!-- </div> -->
        <!-- </div> -->
        
          </div>
          
      
    </div>
  </div>



  </div>
  <div class="container contact_us mt-5">
    <div class="header">
      <p><i style="padding-right: 10px;color: black;" class="fab fa-buffer"></i> Contact  Us</p>
    </div>
    <div class="row container">
      <div class="col-md-6">
        <label style="font-size: 16px;" for="name" class="form-label">Name</label>
        <input type="text" class="form-control" placeholder="Enter your name">
      </div>
      <div class="col-md-6">
        <label style="font-size: 16px;" for="mail" class="form-label">E-mail</label>
        <input type="text" class="form-control" placeholder="Enter your mail">
      </div>
      <div class="col-md-12 mt-3">
        <textarea placeholder="Enter the message" id="" cols="30" class="form-control" rows="5"></textarea>
      </div>
    </div>
    <div class="head container mt-5 row mt-3">
      <div class="col-md-6">
        <p class="fs-4" style="color: #0b6597;">Find Us</p>
        <ul class="list-icons">
         <p><i class="fa fa-map-marker pr-10 text-default" style="padding-right:10px;"></i>GK Banglow, Shreehari colony, lane no.2, vishal nagar, pimple nilakh,<br>Pune – 411 033
         </p>
         <p><i class="fa fa-phone pr-10 text-default" style="padding-right:10px;"></i>9881081996<br>&ensp;&ensp;<span style="padding-left:25px"> &ensp;9503174188</span>
         </p>
         <a href="contact@socialangels.co.in"><i class="fa fa-envelope-o pr-10" style="padding-right:10px;"></i>contact@bluescripts.co.in
          </a>
        </ul>
      </div>
<div class="col-md-2">

</div>
      <div class="col-md-4">
        <p class="fs-4" style="color: #0b6597;">Follow Us on</p>
        <div class="icons">
          <i style="padding-left: 0px;" class="fab fa-instagram"></i>
          <i class="fab fa-linkedin-in"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-facebook-square"></i>
        </div>
      </div>
      
    </div>
  </div>



  