


<div class="container">
    <h2>Carousel Example</h2>  
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="/assets/bank.jpg" alt="Los Angeles" style="width:100%;height:450px">
        </div>
  
        <div class="item">
          <img src="/assets/bank2.jpg" alt="Chicago" style="width:100%;height:450px">
        </div>
      
        <div class="item">
          <img src="/assets/bank3.jpg" alt="New york" style="width:100%;height:450px">
        </div>
      </div>
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  



<section id="banner">
    <div class="container-fluid">
      <div class="parallax">

        <div class="row">
           <div class="col-1"></div>
           <div class="col-5">
            <h1>Our &nbsp; Company &nbsp; Thinking &nbsp; Is</h1>
           </div>
           <div class="col-2"></div>
           <div class="col-4">
            <h6>The Goals Of Our Company is as follow</h6>
            <div class="col-4"><button type="button" class="btn2- btn btn-secondary px-3">Read More...</button></div>
           </div>
           
         </div> 
      </div>
      </div>
</section>


<div style="padding-bottom:28%;background: url(assets/img2.jpg);background-repeat:no-repeat;height:40px;background-attachment: fixed;background-size:100% 100%" class="bodyContent">
    <div style="padding-top:50px" class="container">
        <!-- <form #user="ngForm" (ngSubmit)="authenticate(user.value)" class="sign-up-form"> -->
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="content1">
                    <p  align="center" class="fs-1 " style="color: #fff;z-index:10;margin-bottom:60px; color:black;">Bluescripts</p>
                </div> -->
                
            </div>

            <div class="col-md-6">
                <div align="center" class="container ">
               
                    <!-- <div  style="width: 40%;margin:90px" class="position-absolute top-80 end-0 translate-middle content card"> -->
                        <!-- <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)"> -->
                            <div class="row">
           
                                <marquee width="80%"><h1><span style="color:blue;">NEWS</span></h1></marquee>
                                <div class="col-md-8">
                                    <p class="promo-title"style="color: blue;margin-left: 50px;margin-top:30px;">Bluescript </p>
                                     <p style="color: black;margin-bottom:40px;font-size: large;">
                                      Digital Marketing agency helping you to attract & enage audience.We provide creative and customize online solution
                                      Strategy & planning ,content creation,social media marketing,developement,brand identity,seo,paid ads,&much more</p> 
                    
                                    <!-- <a href="#"><img src="/assets/img4.jpg" class="play-btn">Apply</a> -->
                    
                                   <!-- <a href="#"> <i class="fa fa-play-circle" style="font-size:40px;color:black"></i>Apply</a> -->
                                </div>
                             
                                
                            </div>
                    </div>
                <!-- </div> -->
        </div>
    </div>

    
<!-- </form> -->
</div>
</div>
