<div style="padding-bottom: 200px;">
<div class="container">
    <p class="heading1"><i style="padding-right: 10px;color: black;" class="fab fa-buffer"></i> Products By Us!!!<i style="padding-left: 10px;color: black;" class="fab fa-buffer"></i></p>
    <hr>
</div>

<div class="container mt-5">
    <div class="products">
        <div class="client_box">
            <div align="center" class="row">
                <div class="col-md-6">
                    <div class="box1">
                        <div class="face face1">
                          <div class="contentBox">
                            <!-- <i style="font-size:40px;text-align:center" class="fas fa-user-tie"></i> -->
                            <!-- <img src="assets/hamdule.png" alt=""> -->
                          <p style="color: white;" class="fs-3">Project Manager</p>
                          </div>
                        </div>
                        <div class="face face2">
                          <div class="contentBox">
                            <button class="btn_banner1" data-bs-toggle="modal" data-bs-target="#projectManage">View Details</button>
                          </div>
                        </div>
                      </div>
                      
                </div>

                <div class="col-md-6">
                    <div class="box1">
                        <div class="face face1">
                          <div class="contentBox">
                            <!-- <i style="font-size:40px;text-align:center" class="fas fa-user-tie"></i> -->
                            <!-- <img src="assets/hamdule.png" alt=""> -->
                          <p style="color: white;" class="fs-3">GST Automation</p>
                          </div>
                        </div>
                        <div class="face face2">
                          <div class="contentBox">
                            <button class="btn_banner1" data-bs-toggle="modal" data-bs-target="#GST">View Details</button>
                          </div>
                        </div>
                      </div>
                      
                </div>
               
            </div>
      
        </div>


    </div>
</div>
</div>
<div style="width: 100%;" class="modal fade" id="projectManage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Project Manager :</h5>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body">
          <div class="main">
          <div class="left">
            <div class="heading">
              <p style="color: #333;" class="fs-4">
                Project Description
              </p>
              <hr>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
              </p>
              <p style="color: #333;" class="fs-4">
                Project Info
              </p>
              <hr>

              <p>Project Manager</p>
                <p>Date DEC 2019</p>
                <p>In Web Application</p>
                <p>Place India</p>
            </div>
          </div>
          <div class="right">
            <img src="assets/logo.jpeg" alt="">
          </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn_banner1" data-bs-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>




  <div style="width: 100%;" class="modal fade" id="GST" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">GST Automation :</h5>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body">
          <div class="main">
          <div class="left">
            <div class="heading">
              <p style="color: #333;" class="fs-4">
                Project Description
              </p>
              <hr>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero iusto molestiae quasi perferendis voluptatem atque nemo, ratione, incidunt modi reiciendis, quod consectetur placeat fuga. Tenetur voluptatem asperiores fugit quos doloremque.
              </p>
              <p style="color: #333;" class="fs-4">
                Project Info
              </p>
              <hr>

              <p>GST Automation</p>
                <p>Date DEC 2019</p>
                <p>In Web Application</p>
                <p>Place India</p>
            </div>
          </div>
          <div class="right">
            <img src="assets/logo.jpeg" alt="">
          </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn_banner1" data-bs-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>